body {
  background-color: #1DBF73;
}


/* Title  */

.container-fluid {
  /* position: relative; */
  color: white;
  height: 20%;
}

.nav-link {
  float: right;
}

.navigator {
  width: 100%;
  font-family: Roboto Mono;
}



.container {
  max-width: 80%;
  margin: 0 auto;
}

.box {
  display: flex;
  justify-content: space-around;
  margin-top: 100px;
}

.box img {
  max-height: 300px;
  width: auto;
  border-radius: 20px;
  margin: 20px;
}

.text {
  width: 50%;
}

.text h3 {
  font-size: 35px;
  padding: 30px 0;
  font-weight: 600;
}

.text p {
  font-size: 20px;
  font-weight: 400;
}

/* Media Query */
@media (max-width: 768px) {
  header h1 {
    font-size: 25px;
  }

  .box {
    display: flex;
    flex-wrap: wrap;
  }

  .box img {
    max-width: 80vw;
  }

  .text {
    width: 80%;
  }


}
/* ///////////////////// */

.container {
  max-width: 80%;
  margin: 0 auto;
}

.box {
  display: flex;
  justify-content: space-around;
  margin-top: 100px;
}

.box img {
  max-height: 300px;
  width: auto;
  border-radius: 20px;
  margin: 20px;
}

.text {
  width: 50%;
}

.text h3 {
  font-size: 35px;
  padding: 30px 0;
  font-weight: 600;
}

.text p {
  font-size: 20px;
  font-weight: 400;
}



.container{
  position: relative;
}

.dark{
  background-color: black;
  color: white;
}
.sun, .moon{
  font-size: 2rem;
  width: fit-content;
  height: fit-content;
}

.si, .mi {
  margin-top: -40%;
  height: 30px;
}

.mi {
  margin-left: 40%;
}
.moon{
  position: absolute;
  inset: 0;
}
.moon-logo{
  opacity: 0;
  transform: translateY(20%) rotateZ(50deg);
  transition: all 1s ease-out;
}
.sun-logo{
  opacity: 1;
  transform: translateY(0) rotateZ(0deg);
  transition: all 1s ease-out;
}
.animate-sun{
  opacity: 0;
  transform: translateY(20%) rotateZ(100deg);
}
.animate-moon{
  opacity: 1;
  transform: translateY(0%) rotateZ(0deg);
}
.animate-moon path{
fill: white;
}
.animate-sun path{
fill: white;
}
/* Media Query */
@media (max-width: 768px) {
  header h1 {
    font-size: 25px;
  }

  .box {
    display: flex;
    flex-wrap: wrap;
  }

  .box img {
    max-width: 80vw;
  }

  .text {
    width: 80%;
  }
}



.opening-section {
  position: relative;
  padding-bottom: 5%;
  text-align: center;
}


.title-image {
  /* position: absolute; */
  margin-top: 5%;
  height: 400px;
  /* margin-left: 55%; */
}

.title-text {
  position: absolute;
  width:100%;
  height: 100%;
  padding: 9% 25% 15% 28%;
  text-shadow: 5px 5px 15px #FC5404;
}

.big-heading {
  text-align: left;
  font-weight: 700;
  font-size: 2.5rem;
  line-height: 1.5;
}

.small-heading {
  font-weight: 500;
  text-align: left;
  font-size: 1.5rem;
}

.inner {
  padding-left:7px;
  color: rgb(219, 246, 20);
  display: inline;
}

.dropping-texts {
  display: inline;
  width: 180px;
  text-align: left;
  height: 36px;
  vertical-align: -2px;
}

.dropping-texts > div {
  font-size:0px;
  opacity:0;
  margin-left:-30px;
  position:absolute;
  font-weight:300;   
  box-shadow: 0px 60px 25px -20px rgba(0,0,0,0.5);
}

.dropping-texts > div:nth-child(1) {
  animation: roll 5s linear infinite 0s;
}
.dropping-texts > div:nth-child(2) {
  animation: roll 5s linear infinite 1s;
}
.dropping-texts > div:nth-child(3) {
  animation: roll 5s linear infinite 2s;
}
.dropping-texts > div:nth-child(4) {
  animation: roll 5s linear infinite 3s;
}

@keyframes roll {
  0% {
    font-size:0px;
    opacity:0;
    margin-left:-30px;
    margin-top:0px;
    transform: rotate(-25deg);
  }
  3% {
    opacity:1;
    transform: rotate(0deg);
  }
  5% {
    font-size:inherit;
    opacity:1;
    margin-left:0px;
    margin-top:0px;
  }
  20% {
    font-size:inherit;
    opacity:1;
    margin-left:0px;
    margin-top:0px;
    transform: rotate(0deg);
  }
  27% {
    font-size:0px;
    opacity:0.5;
    margin-left:20px;
    margin-top:100px;
  }
  100% {
    font-size:0px;
    opacity:0;
    margin-left:-30px;
    margin-top:0px;
    transform: rotate(15deg);
  }
}

.hi {
  font-size: 200%;
  font-family: Square Peg;
  margin-bottom: 5%;
  margin-left: -10%;
  transform: rotate(-10deg);
}

.hi:hover {
  -webkit-transform: scale(1.2);
  transform: scale(1.2);
  -webkit-transition: .3s ease-in-out;
  transition: .3s ease-in-out;
}


table {
  margin-left: 18%;
  margin-top: 10%;
}


/* 
.My-image {
  height: 50%;
} */



/* timeline */

.ps-timeline-sec {
  position: relative;
  background: #1DBF73;
  margin-top: -5%;
}

.ps-timeline-sec-dark {
  background: #000000;
  color: white;
}

.ps-timeline-sec .container {
  position: relative;
}

@media screen and (max-width: 767px) {
  .ps-timeline-sec .container ol:before {
    background: #7F7C82;
    content: "";
    width: 10px;
    height: 10px;
    border-radius: 100%;
    position: absolute;
    top: 130px !important;
    left: 36px !important;
  }

  .ps-timeline-sec .container ol:after {
    background: #7F7C82;
    content: "";
    width: 10px;
    height: 10px;
    border-radius: 100%;
    position: absolute;
    top: inherit !important;
    left: 36px;
  }

  .ps-timeline-sec .container ol.ps-timeline {
    margin: 130px 0 !important;
    border-left: 2px solid #7F7C82;
    padding-left: 0 !important;
    padding-top: 120px !important;
    border-top: 0 !important;
    margin-left: 25px !important;
  }

  .ps-timeline-sec .container ol.ps-timeline li {
    height: 220px;
    float: none !important;
    width: inherit !important;
  }

  .ps-timeline-sec .container ol.ps-timeline li:nth-child(2) .img-handler-bot img {
    width: 50%;
  }

  .ps-timeline-sec .container ol.ps-timeline li:last-child {
    margin: 0;
    bottom: 0 !important;
    height: 120px;
  }

  .ps-timeline-sec .container ol.ps-timeline li:last-child .img-handler-bot {
    bottom: 40px !important;
    width: 40% !important;
    margin-left: 25px !important;
    margin-top: 0 !important;
  }

  .ps-timeline-sec .container ol.ps-timeline li:last-child .img-handler-bot img {
    width: 100%;
  }

  .ps-timeline-sec .container ol.ps-timeline li:last-child .ps-top {
    margin-bottom: 0 !important;
    /* top: 20px; */
    width: 50% !important;
  }

  .ps-timeline-sec .container ol.ps-timeline li span {
    left: 0 !important;
  }

  .ps-timeline-sec .container ol.ps-timeline li span.ps-sp-top:before {
    content: none !important;
  }

  .ps-timeline-sec .container ol.ps-timeline li span.ps-sp-top:after {
    content: none !important;
  }

  .ps-timeline-sec .container ol.ps-timeline li span.ps-sp-bot:before {
    content: none !important;
  }

  .ps-timeline-sec .container ol.ps-timeline li span.ps-sp-bot:after {
    content: none !important;
  }

  .ps-timeline-sec .container ol.ps-timeline li .img-handler-top {
    position: absolute !important;
    bottom: 150px !important;
    width: 30% !important;
    float: left !important;
    margin-left: 35px !important;
    margin-bottom: 0 !important;
  }

  .ps-timeline-sec .container ol.ps-timeline li .img-handler-top img {
    margin: 0 auto !important;
    width: 80% !important;
  }

  .ps-timeline-sec .container ol.ps-timeline li .img-handler-bot {
    position: absolute !important;
    bottom: 115px !important;
    width: 30% !important;
    float: left !important;
    margin-left: 35px !important;
    margin-bottom: 0 !important;
  }

  .ps-timeline-sec .container ol.ps-timeline li p {
    text-align: left !important;
    width: 100% !important;
    margin: 0 auto !important;
    margin-top: 0px !important;
  }

  .ps-timeline-sec .container ol.ps-timeline li .ps-top {
    width: 60% !important;
    float: right !important;
    right: 0;
    top: -40px;
  }

  .ps-timeline-sec .container ol.ps-timeline li .ps-bot {
    width: 60% !important;
    float: right !important;
    right: 0;
    top: -40px;
  }
}

.ps-timeline-sec .container ol:before {
  background: #7F7C82;
  content: "";
  width: 10px;
  height: 10px;
  border-radius: 100%;
  position: absolute;
  left: 8px;
  top: -160%;
}

.ps-timeline-sec .container ol:after {
  background: #7F7C82;
  content: "";
  width: 10px;
  height: 10px;
  border-radius: 100%;
  position: absolute;
  right: 8px;
  top: -160%;
}

.ps-timeline-sec .container ol.ps-timeline {
  margin: 390px 0;
  padding: 0;
  border-top: 2px solid #7F7C82;
  list-style: none;
}

.ps-timeline-sec .container ol.ps-timeline li {
  float: left;
  width: 25%;
  padding-top: 30px;
  position: relative;
}

.ps-timeline-sec .container ol.ps-timeline li span {
  width: 50px;
  height: 50px;
  margin-left: -25px;
  background: #7F7C82;
  border: 4px solid #7F7C82;
  border-radius: 50%;
  -webkit-box-shadow: 0 0 0 0px #7F7C82;
  box-shadow: 0 0 0 0px #7F7C82;
  text-align: center;
  line-height: 50px -10;
  color: #CAF7E3;
  font-size: 1.7em;
  font-style: normal;
  position: absolute;
  top: -26px;
  left: 50%;
}

.ps-timeline-sec .container ol.ps-timeline li span:hover {
  width: 50px;
  height: 50px;
  margin-left: -25px;
  background: #7F7C82;
  border: 4px solid #7F7C82;
  border-radius: 50%;
  -webkit-box-shadow: 0 0 0 0px #7F7C82;
  box-shadow: 0 0 0 0px #7F7C82;
  text-align: center;
  line-height: 50px -10;
  color: white;
  font-size: 1.7em;
  font-style: normal;
  position: absolute;
  top: -26px;
  left: 50%;
}

.ps-timeline-sec .container ol.ps-timeline li span.ps-sp-top:before {
  content: '';
  color: #7F7C82;
  width: 2px;
  height: 50px;
  background: #7F7C82;
  position: absolute;
  top: -50px;
  left: 50%;
}

.ps-timeline-sec .container ol.ps-timeline li span.ps-sp-top:after {
  content: '';
  color: #7F7C82;
  width: 8px;
  height: 8px;
  background: #7F7C82;
  position: absolute;
  bottom: 90px;
  left: 44%;
  border-radius: 100%;
}

.ps-timeline-sec .container ol.ps-timeline li span.ps-sp-bot:before {
  content: '';
  color: #7F7C82;
  width: 2px;
  height: 50px;
  background: #7F7C82;
  position: absolute;
  bottom: -50px;
  left: 50%;
}

.ps-timeline-sec .container ol.ps-timeline li span.ps-sp-bot:after {
  content: '';
  color: #7F7C82;
  width: 8px;
  height: 8px;
  background: #7F7C82;
  position: absolute;
  top: 90px;
  left: 44%;
  border-radius: 100%;
}

.ps-timeline-sec .container ol.ps-timeline li .img-handler-top {
  position: absolute;
  bottom: 0;
  margin-bottom: 130px;
  width: 100%;
}

.ps-timeline-sec .container ol.ps-timeline li .img-handler-top img {
  display: table;
  margin: 0 auto;
}

.ps-timeline-sec .container ol.ps-timeline li .img-handler-bot {
  position: absolute;
  margin-top: 60px;
  width: 100%;
}

.ps-timeline-sec .container ol.ps-timeline li .img-handler-bot img {
  display: table;
  margin: 0 auto;
}

.ps-timeline-sec .container ol.ps-timeline li p {
  text-align: center;
  width: 80%;
  margin: 0 auto;
}

.ps-timeline-sec .container ol.ps-timeline li .ps-top {
  position: absolute;
  bottom: 0;
  margin-bottom: 100px;
}

.ps-timeline-sec .container ol.ps-timeline li .ps-bot {
  position: absolute;
  /* margin-top: 35px; */
  /* margin-left: 30px; */
}

/* skills */

.avatar {
  text-align: center;
  position: relative;
}

.ava {
  position: static;
  margin-top: 4%;
  margin-bottom: 6%;
  height: 400px;
  animation-name: floating_ava;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
  animation-duration: 6s;
  z-index: -1;

}


@keyframes floating_ava {
  from {
    transform: translate(0, 0px);
  }

  65% {
    transform: translate(0, 10px);
  }

  to {
    transform: translate(0, 0px);
  }
}

.floating {
  position: absolute;
  animation-name: floating;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
  /* margin-left: 30px;
  margin-top: 5px; */
}

.skill_img {
  width: 30%;
}

.first {
  right: 55%;
  top: 65%;
  animation-duration: 3s;
}

.sec {
  right: 55%;
  top: 45%;
  animation-duration: 4s;
}

.third {
  left: 58%;
  top: 35%;
  animation-duration: 3.5s;
}

.fourth {
  left: 50%;
  top: 58%;
  animation-duration: 4.5s;
}

.fifth {
  left: 50%;
  top: 15%;
  animation-duration: 5s;
}

.sixth {
  right: 55%;
  top: 20%;
  animation-duration: 5.5s;
}

@keyframes floating {
  from {
    transform: translate(0, 0px);
  }

  65% {
    transform: translate(0, 15px);
  }

  to {
    transform: translate(0, 0px);
  }
}

/* skills */

.row {
  padding-top: 10%;
  padding-left: 1%;
  padding-right:1%;
}

#skills_des {
  padding-left: 100px;
  padding-right: 100px;
  font-family: Ubuntu Mono;
}

.skill-dis {
  background-color: #333333;
  color: whitesmoke;
}

.skill-dis2 {
  background-color: #000000;
  color: whitesmoke;
}

.skill-text {
  font-weight: 500;
  font-size: 2rem;
  line-height: 1.5;
}

.skill-column {
  padding: 3% 1%;
}

.card-head {
  text-align: left;
}

.card{
  border: 2px solid #000000;
  border-radius: 2%;
}


.ttttt {
  position: relative;
  margin-top: 15%;
}

.stage:after {
  content: '';
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  border-top: 3px solid #000000;
  border-bottom: 3px dashed #000000;
}

.stage-dark {
  content: ' ';
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  border-top: 3px solid #ffffff;
  border-bottom: 3px dashed #ffffff;
}

/*TRAIN*/
.train {
  position: absolute;
  bottom: 10px;
  width: 310px;
  z-index: 1;
}

.wagon,
.cabin,
.chimney {
  border-radius: 4px 4px 0 0;
  border-top: 4px solid #F7FD04;
}

.wagon,
.motor {
  border-bottom: 2px solid #F7FD04;
}

.wagon,
.locomotive {
  display: inline-block;
  width: 70px;
  height: 55px;
  background-color: #FC5404;
  position: relative;
}

/*WHEELS*/
.wagon:before,
.wagon:after,
.motor:before,
.motor:after,
.cabin:after {
  content: ' ';
  color: #F3F1F5;
  padding: 6px;
  position: absolute;
  border-radius: 46%;
  border: 6px solid #293462;
  bottom: -10px;
  background-color: #7F7C82;
  -webkit-animation: spin 4s linear infinite;
  animation: spin 4s linear infinite;
}

.wagon:before {
  left: 6px;
}

.wagon:after {
  right: 6px;
}

.motor:before {
  left: 32px;
}

.motor:after {
  right: 4px;
}

.cabin:after {
  bottom: -50px;
  padding: 8px;
  left: 3px;
}

/*LOCOMOTIVE*/
.locomotive {
  background-color: transparent;
}

.locomotive .cabin {
  width: 58px;
  height: 35px;
  background-color: #FC5404;
  position: relative;
  z-index: 1;
  border-radius: 8px 8px 0 0;
}

/*locomotive window*/
.locomotive .cabin:before {
  content: ' ';
  width: 25px;
  height: 18px;
  position: absolute;
  top: 10px;
  left: 15px;
  border-radius: 3px;
  border: 3px solid #FAFFAF;
  background-color: #F3F1F5;
}

.locomotive .motor {
  display: inline-block;
  width: 85px;
  height: 40px;
  background-color: #FC5404;
  position: relative;
  border-radius: 0 8px 0px 0px;
}

.locomotive .chimney {
  position: absolute;
  width: 15px;
  height: 15px;
  background-color: #FC5404;
  right: -6px;
  bottom: 10px;
  -webkit-animation: puf 4s 2;
  animation: puf 4s 2;
}

.locomotive .light {
  content: " ";
  position: absolute;
  right: -10px;
  bottom: 0;
  border-radius: 50%;
  border: 3px solid #FAFFAF;
}

.train {
  -webkit-animation: voyage 20s linear infinite;
  animation: voyage 20s linear infinite;
}


@-webkit-keyframes puf {
  0% {
    bottom: 0px;
  }
  25% {
    bottom: -1px;
  }
  100% {
    bottom: 5px;
  }
}

@keyframes puf {
  0% {
    bottom: 0px;
  }
  25% {
    bottom: -1px;
  }
  100% {
    bottom: 5px;
  }
}

@-webkit-keyframes wind {
  0% {
    right: 12%;
  }
  100% {
    right: 100%;
  }
}

@keyframes wind {
  0% {
    right: 10%;
  }
  100% {
    right: 100%;
  }
}

@-webkit-keyframes voyage {
  0% {
    left: -310px;
  }
  100% {
    left: 75%;
  }
}

@keyframes voyage {
  0% {
    left: -310px;
  }
  100% {
    left: 75%;
  }
}

@-webkit-keyframes spin {
  100% {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes spin {
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}




/* contact section */

a:hover {
  text-decoration: none;
  color: #F8EDED;
}

.wrapper1 a {
  color: #F8EDED;
}

.contact-me {
  position: relative;
  padding-top: 6%;
  margin-left: 30%;
  text-align: center;
  color: white;
  width: 40%;
  line-height: 2;
}

.contact-me h2 {
  font-size: 2rem;
}

.contact-me h3 {
  font-size: 1.5rem;
}

#wrapper1 {
  height: 40%;
  width: 100%;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
}

.btn {
  position: relative;
  text-decoration: none;
  color: white;
  letter-spacing: 1px;
  font-size: 1.2rem;
  box-sizing: border-box;
}

.btn span {
  position: relative;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 200px;
  height: 200px;
}

.btn span:before {
  content: '';
  width: 80%;
  height: 80%;
  display: block;
  position: absolute;
  border-radius: 100%;
  border: 7px solid #C1F8CF;
  box-sizing: border-box;
  transition: all .85s cubic-bezier(0.25, 1, 0.33, 1);
  box-shadow: 0 30px 85px rgba(0, 0, 0, 0.14), 0 15px 35px rgba(0, 0, 0, 0.14);
}

.btn:hover span:before {
  transform: scale(0.8);
  box-shadow: 0 20px 55px rgba(0, 0, 0, 0.14), 0 15px 35px rgba(0, 0, 0, 0.14);
}

.btn .dots-container {
  opacity: 0;
  animation: intro 1.6s;
  animation-fill-mode: forwards;
}

.btn .dot {
  width: 8px;
  height: 8px;
  display: block;
  background-color: #C1F8CF;
  border-radius: 100%;
  position: absolute;
  transition: all .85s cubic-bezier(0.25, 1, 0.33, 1);
}

.btn .dot:nth-child(1) {
  top: 50px;
  left: 50px;
  transform: rotate(-140deg);
  animation: swag1-out 0.3s;
  animation-fill-mode: forwards;
  opacity: 0;
}

.btn .dot:nth-child(2) {
  top: 50px;
  right: 50px;
  transform: rotate(140deg);
  animation: swag2-out 0.3s;
  animation-fill-mode: forwards;
  opacity: 0;
}

.btn .dot:nth-child(3) {
  bottom: 50px;
  left: 50px;
  transform: rotate(140deg);
  animation: swag3-out 0.3s;
  animation-fill-mode: forwards;
  opacity: 0;
}

.btn .dot:nth-child(4) {
  bottom: 50px;
  right: 50px;
  transform: rotate(-140deg);
  animation: swag4-out 0.3s;
  animation-fill-mode: forwards;
  opacity: 0;
}

.btn:hover .dot:nth-child(1) {
  animation: swag1 0.3s;
  animation-fill-mode: forwards;
}

.btn:hover .dot:nth-child(2) {
  animation: swag2 0.3s;
  animation-fill-mode: forwards;
}

.btn:hover .dot:nth-child(3) {
  animation: swag3 0.3s;
  animation-fill-mode: forwards;
}

.btn:hover .dot:nth-child(4) {
  animation: swag4 0.3s;
  animation-fill-mode: forwards;
}

@keyframes intro {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes swag1 {
  0% {
    top: 50px;
    left: 50px;
    width: 8px;
  }

  50% {
    width: 30px;
    opacity: 1;
  }

  100% {
    top: 20px;
    left: 20px;
    width: 8px;
    opacity: 1;
  }
}

@keyframes swag1-out {
  0% {
    top: 20px;
    left: 20px;
    width: 8px;
  }

  50% {
    width: 30px;
    opacity: 1;
  }

  100% {
    top: 50px;
    left: 50px;
    width: 8px;
    opacity: 0;
  }
}

@keyframes swag2 {
  0% {
    top: 50px;
    right: 50px;
    width: 8px;
  }

  50% {
    width: 30px;
    opacity: 1;
  }

  100% {
    top: 20px;
    right: 20px;
    width: 8px;
    opacity: 1;
  }
}

@keyframes swag2-out {
  0% {
    top: 20px;
    right: 20px;
    width: 8px;
  }

  50% {
    width: 30px;
    opacity: 1;
  }

  100% {
    top: 50px;
    right: 50px;
    width: 8px;
    opacity: 0;
  }
}

@keyframes swag3 {
  0% {
    bottom: 50px;
    left: 50px;
    width: 8px;
  }

  50% {
    width: 30px;
    opacity: 1;
  }

  100% {
    bottom: 20px;
    left: 20px;
    width: 8px;
    opacity: 1;
  }
}

@keyframes swag3-out {
  0% {
    bottom: 20px;
    left: 20px;
    width: 8px;
  }

  50% {
    width: 30px;
    opacity: 1;
  }

  100% {
    bottom: 50px;
    left: 50px;
    width: 8px;
    opacity: 0;
  }
}

@keyframes swag4 {
  0% {
    bottom: 50px;
    right: 50px;
    width: 8px;
  }

  50% {
    width: 30px;
    opacity: 1;
  }

  100% {
    bottom: 20px;
    right: 20px;
    width: 8px;
    opacity: 1;
  }
}

@keyframes swag4-out {
  0% {
    bottom: 20px;
    right: 20px;
    width: 8px;
  }

  50% {
    width: 30px;
    opacity: 1;
  }

  100% {
    bottom: 50px;
    right: 50px;
    width: 8px;
    opacity: 0;
  }
}

/* bottom section */

.bottom-container a {
  color: black;
}

.bottom-container a:hover {
  color: white;
}

.bottom-container {
  padding-top: 3%;
  text-align: center;
  padding-right: 4%;
}

.wrapper {
  display: inline-flex;
  list-style: none;
}

.wrapper .icon {
  position: relative;
  background: #ffffff;
  border-radius: 50%;
  padding: 15px;
  margin: 10px;
  width: 50px;
  height: 50px;
  font-size: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  transition: all 0.2s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.wrapper .tooltip {
  position: absolute;
  top: 0;
  font-size: 14px;
  background: #ffffff;
  color: #ffffff;
  padding: 5px 8px;
  border-radius: 5px;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
  opacity: 0;
  pointer-events: none;
  transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.wrapper .tooltip::before {
  position: absolute;
  content: "";
  height: 8px;
  width: 8px;
  background: #ffffff;
  bottom: -3px;
  left: 50%;
  transform: translate(-50%) rotate(45deg);
  transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.wrapper .icon:hover .tooltip {
  top: -45px;
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}

.wrapper .icon:hover span,
.wrapper .icon:hover .tooltip {
  text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.1);
}

.wrapper .linkedln:hover,
.wrapper .linkedln:hover .tooltip,
.wrapper .linkedln:hover .tooltip::before {
  background: #0072b1;
  color: #ffffff;
}

.wrapper .twitter:hover,
.wrapper .twitter:hover .tooltip,
.wrapper .twitter:hover .tooltip::before {
  background: #1DA1F2;
  color: #ffffff;
}

.wrapper .instagram:hover,
.wrapper .instagram:hover .tooltip,
.wrapper .instagram:hover .tooltip::before {
  background: #E4405F;
  color: #ffffff;
}

.wrapper .github:hover,
.wrapper .github:hover .tooltip,
.wrapper .github:hover .tooltip::before {
  background: #333333;
  color: #ffffff;
}

.copyright{
  text-align: center;
}

